html,
body {
  background: url(images/header.png) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

}
html { 
    background: url(images/header.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/*
styles for grids

*/
body {
    box-sizing: border-box;
    font-family: Arial, helvetica, "helvetica neue", sans-serif;
    text-align: center;
}
.grid-container {
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 0px;
      
    
}
.name{
  height: 100%;
  width: 100% ;

}
/*text*/
.article-work{
  padding: 1%;
  color: rgb(5, 4, 4);
  text-align: center;
  text-decoration-line: underline;
  margin-right: 20%;
  margin-left: 20%;
  font-size: 100%;

}
.title{
  font-weight: bold;
}
.titles-work{
  font-size: 200%;
  }
/*images */
.name{
  height: 100%;
  width: 50% ;
  image-rendering: auto;
  image-rendering: crisp-edges;
  cursor:pointer;
  
}
.logo{
  padding: 2%;
  text-align: center;
}
.location{
  inset-block-end: 20px;
}
.img-Diego{

        height: 50%;
        width: 50% ;
        image-rendering: auto;
        image-rendering: crisp-edges;
        cursor:pointer;
        
}
.work-img{
  border-radius: 3rem;
  height: 80%;
  width: 80% ;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated
  cursor:pointer;


}
.my-goal{
  text-align:inherit;
   font-weight: 800;
   font-size: 1em;
}
.my-face{
  
  height: auto;
  width: 50%;
  border-radius: 2rem;
  box-shadow: 0 8px 10px -1px black;
  
}
.grid-container img {
    
    width: 100%;
        height:auto;s
}
/*button  return  style*/
.return{
  height:50%;
  width:15%;
  background-color: rgb(168, 199, 162);

}
.return-btn{
  padding: 1%;
  text-align: end;
}


/*responsive grid */
@media only screen and (max-width: 596px) {
    .grid-container { 
        grid-template-columns: 1fr; }
    .span2, .span3, .span4 { grid-column: span 1; }
}
@media only screen and (min-width: 600px) {
    .grid-container { grid-template-columns: 1fr ; }
    .span3, .span4 { grid-column: span 2; }
}
@media only screen and (min-width: 900px) {
    .grid-container { grid-template-columns: 1fr 1fr 1fr ; }
}

/*color demo */

  .test1{
   
    height: 30rem;
}
/*bufers*/
.bufer{
   
    height: 1rem;
}
.bufer1{
   
  height: 2rem;
}

/*boxess*/
.box{
    height: 100%;
    width: 90%;
    border-color: rgb(168, 199, 162);
    box-shadow: darkgrey;
    margin: 5px;
    background-color: rgb(245, 169, 121);
    border-radius: 5rem;
    position: relative;
    top: 50%;
}

ul{
    align-items: center;
}


li{
    display: inline-block;
}


.btn-primary{
    background-color: rgb(23, 31, 39);
    color: rgb(216, 191, 156);
}
.btn-primary:hover{

    background-color: rgb(121, 99, 44);
}
.text-about{

  padding-top: 10%;
  font-weight: 500;

}
.email{

  margin-left: 30%;
  margin-right: 30%;
}
